#JoinChat-Heading {
    font-size: larger;
    color: blueviolet;
    padding-top: 2vh;
  }
  #JoinChat-Button {
    margin-top: 10vh;
    padding-bottom: 2vh;
  }
  #form-container {
    margin-top: 10vh;
  }
  #name-roomId-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2vh;
  }
  
  