@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

.main-content{
    font-family: 'Ubuntu','Source Code Pro', monospace;
    /* for header */
    margin-top: 5vh;
    /* for footer */
    margin-bottom:2vh;
    /* for sidebar */
    margin-left:2vw;
    font-size: 18px
}